.catalog {
  background-color: $lightest_grey;
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 99px;
  }
}

.catalog__title {
  text-align: center;
  order: 1;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 39px;
  }
}

.catalog__badge {
  text-align: center;
  order: 0;
}

.catalog__wrapper {
  order: 2;
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    column-gap: 30px;
    padding: 0;
  }
}
