.catalog {
  background-color: $lightest_grey;
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
  }
}

.catalog__title {
  text-align: center;
  order: 1;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.catalog__badge {
  text-align: center;
  order: 0;
}

.catalog__wrapper {
  order: 2;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    padding-left: var(--content-padding-desktop);
    padding-right: var(--content-padding-desktop);
  }
}
