.catalog {
  background-color: $lightest_grey;
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  text-align: center;
  order: 1;
  margin: 0 0 22px 0;
}

.catalog__badge {
  text-align: center;
  order: 0;
}

.catalog__wrapper {
  order: 2;
}
