.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 60px;
}

.features__title {
  margin: 0;
  order: 1;
  margin-bottom: 36px;
}

.features__badge {
  order: 0;
}

.features__features-list {
  order: 2;
}
