.filter {
  padding-bottom: 40px;
  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
  }
}

.filter__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 728px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px;
    gap: 20px;
    margin-bottom: 2px;
    padding-right: 0;
  }
}

.filter__wrapper {
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.filter__fieldset {
  @include fieldset-reset;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    &--checkbox {
      padding-left: 9px;
    }
  }
}

.filter__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 22px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.filter__input-list {
  @include list-reset;
  display: grid;

  &--radio {
    row-gap: 22px;

    @media (min-width: $tablet-width) {
      row-gap: 20px;
    }
  }

  &--checkbox {
    row-gap: 20px;
    margin-top: -2px;
    margin-bottom: 11px;
  }
}

.filter__label {
  position: relative;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.filter__radio-label {
  --radio-outer-diameter: 24px;
  --radio-inner-diameter: 14px;

  padding-left: 34px;
  min-height: var(--radio-outer-diameter);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: var(--radio-outer-diameter);
    height: var(--radio-outer-diameter);
    border: 1px solid $base_primary;
    background-color: transparent;
  }

  &:hover {
    &::before {
      border: 1px solid $base_primary;
    }
  }
}

.filter__radio-item input[type="radio"]:checked + .filter__radio-label::after {
  left: calc((var(--radio-outer-diameter) - var(--radio-inner-diameter)) / 2);
  width: var(--radio-inner-diameter);
  height: var(--radio-inner-diameter);
  background-color: $base_primary;
}

.filter__radio-item input[type="radio"]:disabled + .filter__radio-label {
  color: $base_grey;

  &::before {
    border-color: $light_grey;
  }
}

.filter__radio-item input[type="radio"]:disabled:checked + .filter__radio-label {
  &::after {
    background-color: $light_grey;
  }
}

.filter__checkbox-label {
  --checkbox-outer-width: 42px;
  --checkbox-outer-height: 24px;
  --checkbox-togle-diameter: 20px;

  padding-left: 54px;
  min-height: var(--checkbox-outer-height);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: var(--checkbox-outer-width);
    height: var(--checkbox-outer-height);
    background-color: $base_grey;
    border-radius: 12px;
    transition: 0.2s;
  }

  &::after {
    left: calc((var(--checkbox-outer-width) - var(--checkbox-togle-diameter)) / 8);
    width: var(--checkbox-togle-diameter);
    height: var(--checkbox-togle-diameter);
    background-color: $base_white;
    border-radius: 50%;
    transition: 0.2s;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: rgba($base_primary, $alpha: 0.25);
      border: 1px solid $base_primary;
      transition: none;
    }
  }
}

.filter__checkbox-item input[type="checkbox"]:checked + .filter__checkbox-label::after {
  left: calc((var(--checkbox-outer-width) - var(--checkbox-togle-diameter)) / 1.1);
}

.filter__checkbox-item input[type="checkbox"]:checked + .filter__checkbox-label::before {
  background-color: $base_primary;
}

.filter__checkbox-item input[type="checkbox"]:disabled + .filter__checkbox-label {
  color: $base_grey;
  cursor: default;

  &::before {
    background-color: $light_grey;
  }

  &::after {
    background-color: $lightest_grey;
  }

  &::before,
  &::after {
    border: none;
  }
}

.filter__checkbox-item input[type="checkbox"]:disabled:checked + .filter__checkbox-label {
  &::after {
    background-color: $base_grey;
  }
}

.filter__submit-wrapper {
  text-align: center;
}

.filter__submit-list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
    justify-content: center;
    margin-right: 57px;
  }
}

.filter__submit-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    // margin-right: 44px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter__button {
  min-width: 160px;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    padding: 8px 3px;
    min-width: 0;
  }
}

.filter__fieldset--checkbox > .filter__title {
  margin-bottom: 22px;
}
