.footer-nav__list {
  @include list-reset;
  padding-right: var(--content-padding-mobile);
  padding-left: var(--content-padding-mobile);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    justify-content: start;
    gap: 30px;
    padding-right: 0;
  }
}

.footer-nav__item {
  padding: 19px var(--content-padding-mobile);
  padding-top: 20px;
  padding-bottom: 11px;
  border-top: 1px solid $base_secondary;
  margin-left: calc(var(--content-padding-mobile) * -1);
  margin-right: calc(var(--content-padding-mobile) * -1);

  &:last-child {
    border-bottom: 1px solid $base_secondary;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;

    &:last-child {
      border: none;
    }
  }
}

.footer-nav__title {
  margin: 0 0 17px 0;
}

.footer-nav__address {
  max-width: 270px;
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  padding-top: 3px;
}
