.footer-contacts__title {
  margin: 0 0 20px 0;
}

.footer-contacts__list {
  @include list-reset;
}

.footer-contacts__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-contacts__link {
  color: $base_black;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
}
