.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-social__logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 60px;
}

.footer-social__image {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.footer-social__list {
  @include list-reset;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 19px;
}

.footer-social__link {
  display: block;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $base_grey;

  &:hover,
  &:focus {
    background-color: $base_secondary;
    color: $base_primary;
  }

  &:active {
    background-color: $primary_opacity_25;
    color: $base_primary;
  }
}

.footer-social__icon {
  fill: currentColor;

  &--vk,
  &--ok {
    width: 20px;
    height: 20px;
  }

  &--pinterest {
    width: 22px;
    height: 22px;
  }
}
