.logo {
  height: 60px;
  margin-right: 5px;

  @media (min-width: $desktop-width) {
    height: 80px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
