.main-slider__container {
  max-width: 100vw;
}

.main-slider__wrapper {
  @include list-reset;
  max-width: $desktop-width;
}

.main-slider__item {
  padding-top: 20px;
  min-height: 635px;

  &--flat-white {
    background-color: $flat_white;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(180deg, $flat_white 0, $flat_white 77%, $base_white 77%);
    }
  }

  &--latte {
    background-color: $lavender_latte;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(180deg, $lavender_latte 0, $lavender_latte 77%, $base_white 77%);
    }
  }

  &--espresso {
    background-color: $espresso;

    @media (min-width: $tablet-width) {
      background-image: linear-gradient(180deg, $espresso 0, $espresso 77%, $base_white 77%);
    }
  }
}

.main-slider__slider-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 608px;
  }
}

.main-slider__title {
  margin: 0 0 10px 0;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  order: 2;
}

.main-slider__badge {
  order: 1;
  margin-bottom: 4px;
}

.main-slider__picture {
  order: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.main-slider__image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }
}

.main-slider__text {
  order: 3;
  margin: 0 0 22px 0;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 100px;
  }
}

.main-slider__footer {
  order: 4;
}

.main-slider__button {
  margin-left: 18px;
}

.main-slider__button-next,
.main-slider__button-prev {
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 0;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    @include arrow(12px, 12px);
    top: 49%;
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, $base_white 0, rgba($base_white, $alpha:0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba($base_primary, $alpha:0.25), rgba($base_primary, $alpha:0) 100%);
  }

  &:disabled {
    &::before {
      border-color: $base_grey;
    }
  }
}

.main-slider__button-next {
  right: 0;
  &::before {
    transform: rotate(45deg);
    right: 7px;
  }
}

.main-slider__button-prev {
  left: 0;
  &::before {
    transform: rotate(-135deg);
    left: 7px;
  }
}

.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  background-color: $base_white;
}
