.main-slider__slider-list {
  @include list-reset;
}

.main-slider__slider-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;

  &--flat-white {
    background-color: $flat_white;
  }
}

.main-slider__title {
  margin: 0 0 9px 0;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  order: 2;
}

.main-slider__badge {
  order: 1;
  margin-bottom: 5px;
}

.main-slider__picture {
  order: 0;
  margin-bottom: 4px;
}

.main-slider__text {
  order: 3;
  margin: 0 0 22px 0;
}

.main-slider__footer {
  width: 230px;
  order: 4;
}

.main-slider__button {
  margin-left: 19px;
}
