.main-nav {
  position: relative;
}

.main-nav__logo {
  height: 60px;
  display: block;
  margin: 0;
}

.main-nav__toggle-menu {
  position: absolute;
  top: -2px;
  right: 2px;
  z-index: 2;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &--closed::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 20px;
    height: 1.5px;
    width: 16px;
    background-color: $base_black;
    box-shadow: 0 5px 0 0 $base_black, 0 10px 0 0 $base_black;
  }
}

.main-nav__toggle-menu--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 20px;
    width: 17px;
    height: 2px;
    background-color: $base_black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}
