.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  min-width: $mobile-width;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  font-weight: 400;
  color: $base_black;
  background-color: $base_white;
}
