.pagination__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: space-between;

  @media (min-width: $tablet-width) {
  }
}

.pagination__link {
  display: inline-flex;
  min-width: 40px;
  height: 40px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: $base_primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  background-color: $base_white;

  @media (min-width: $tablet-width) {
    font-weight: 400;
  }

  &--current {
    background-color: transparent;
    color: $base_black;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $base_black;
      cursor: default;
    }
  }

  &--prev,
  &--next {
    &::before {
      content: "";
      @include arrow;

      @media (min-width: $tablet-width) {
        border: none;
        min-width: 150px;
      }
    }

    &:hover,
    &:focus {
      &::before {
        border-top: 2px solid $base_white;
        border-right: 2px solid $base_white;

        @media (min-width: $tablet-width) {
          border: none;
        }
      }
    }
  }

  &--prev {
    &::before {
      transform: rotate(-135deg);

      @media (min-width: $tablet-width) {
        content: "Назад";
        transform: none;
      }
    }
  }

  &--next {
    &::before {
      transform: rotate(45deg);

      @media (min-width: $tablet-width) {
        content: "Вперед";
        transform: none;
      }
    }
  }
}
