.pagination__list {
  @include list-reset;

  position: relative;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-right: 125px;
  }
}

.pagination__item {
  @media (min-width: $tablet-width) {
    &--prev,
    &--next {
      position: absolute;
    }

    &--prev {
      left: -145px;
    }

    &--next {
      right: -20px;
    }
  }
}

.pagination__item--next .pagination__link,
.pagination__item--prev .pagination__link {
  &::before {
    content: "";

    @include arrow;

    @media (min-width: $tablet-width) {
      border: none;
      min-width: 143px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &:hover,
  &:focus {
    &::before {
      border-top-color: inherit;
      border-right-color: inherit;

      @media (min-width: $tablet-width) {
        border: none;
      }
    }
  }
}

.pagination__item--next .pagination__link {
  &::before {
    transform: rotate(45deg);

    @media (min-width: $tablet-width) {
      content: "Вперёд";
      transform: none;
    }
  }
}

.pagination__item--prev .pagination__link {
  &::before {
    transform: rotate(-135deg);

    @media (min-width: $tablet-width) {
      content: "Назад";
      transform: none;
    }
  }
}

.pagination__link.button--disabled {
  &::before {
    border-top-color: $base_white;
    border-right-color: $base_white;
  }
}

.pagination__link {
  display: inline-flex;
  min-width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: $base_primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  background-color: $base_white;

  &--current {
    background-color: transparent;
    color: $base_black;

    @media (min-width: $tablet-width) {
      margin: 0 20px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $base_black;
      cursor: default;
    }
  }
}
