.products {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.products__list {
  @include list-reset;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 29px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 317px);
    gap: 29px;
    margin-bottom: 70px;
  }
}

.products__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.products__pagination {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 89px;
  }
}
