.product-card {
  display: flex;
  flex-direction: column;
  background-color: $base_white;
  padding: 40px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 50px 29px 30px;
  }
}

.product-card__link {
  text-decoration: none;
  color: $base_black;

  &--picture {
    align-self: center;
    order: -1;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--title {
    margin-bottom: 4px;
  }
}

.product-card__title {
  font-size: 18px;
  line-height: 32px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
  }
}

.product-card__description {
  margin: 0 0 16px 0;
  padding-right: 70px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

.product-card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__button {
  &--buy {
    font-size: 14px;
    line-height: 20px;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 16px;
      background-image: url(../img/icons/button-icons/cart_add.svg);
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 6px;
    }
  }
}
