.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  &--extra {
    font-size: 14px;
    line-height: 20px;
    color: $base_primary;
    letter-spacing: 0.02em;
  }

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;

    &--extra {
      font-size: 14px;
      line-height: 28px;
    }
  }
}
