.user-navigation-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    order: 2;
  }
}

.user-navigation-list__item {
  @media (min-width: $desktop-width) {
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.user-navigation-list__link {
  display: block;
  height: 60px;
  padding: 22px;
  box-sizing: border-box;
  background-color: $base_white;
  color: $base_black;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding: 32px 22px;
    height: 80px;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    &--user {
      &::after {
        content: "Войти";
      }
    }

    &--cart {
      &::after {
        content: "Корзина";
      }
    }

    &--user,
    &--cart {
      &::after {
        padding-left: 6px;
      }
    }
  }

  &:active {
    background-color: $base_secondary;
  }
}

.user-navigation-list__icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}
