$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1380px;

:root {
  --content-padding-mobile: 20px;
  --content-padding-desktop: 40px;

  --content-width-mobile: #{"calc(#{$mobile-width} - var(--content-padding-mobile) * 2)"};
  --content-width-desktop: #{"calc(#{$mobile-width} - var(--content-padding-desktop) * 2)"};
}

// Font
$font-family-base: "Montserrat", "Courier new", sans-serif;
$font-size-base: 14px;
$font-line-height-base: 20px;
$font-size-base--tablet: 16px;
$font-line-height-tablet: 24px;

// Colors
// Base Colors
$base_white: #FFFFFF;
$base_grey: #BDBDBD;
$base_black: #333333;
$base_primary: #7859CF;
$base_secondary: #F0EBFF;

// Alt Colors
$black__opacity_20: rgba(0, 0, 0, 0.2);
$primary_opacity_25: rgba(120, 89, 207, 0.25);
$primary_lighter: #9070EC;
$primary_darker: #593CAC;
$light_grey: #E2E2E2;

// Background Colors
$lightest_grey: #F8F8F8;
$flat_white: #F3EBE1;
$lavender_latte: #EAE6FC;
$espresso: #E5E6E8;
