.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: $mobile-width;
  max-width: $desktop-width;
  padding-left: var(--content-padding-mobile);
  padding-right: var(--content-padding-mobile);
}
